* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
}

#get-content {
    color: blue;
}

.text {

    color: green;
    max-width: 400px;
    word-wrap: break-word;
}


.error {
    color: red;
}